@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    color: #D9CEA3;
    background-color: #0008FF;
    font-family: 'Monoton', cursive;
}

body.social {
    background-color: #00FFF7;
}

a, a:visited, a:active {
    color: #D9CEA3 !important;
}

a:hover {
    color: #D70A84 !important;
}

nav {
    font-size: 2vw;
}